{{ partial "chapters.html" . }}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-inner">
                    {{ if .Site.Data.social }}
                    <ul class="social">
                        {{ range .Site.Data.social }}
                        <li><a href="{{ .link }}" target="blank"><img width="20" height="20" src="{{ .image | relURL }}"
                                                                      title="{{ .name }}" alt="{{ .name }}"/></a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    <ul class="footer-menu">
                        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                        <li><a href="{{ .Site.BaseURL }}contact">Contact</a></li>
                        <li class="copyright">{{ now.Format "2006" }} {{.Site.Title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
