<div class='header header-absolute'>
    <div class="container">
        <div class="logo">
            <a href="{{ .Site.BaseURL }}">
                <!--        <img alt="Figurit Homepage" src="{{ .Site.BaseURL }}images/logo.svg" />-->
                TZM Community</a>
        </div>
        <div class="logo-mobile">
            TZM Community
            <a href="{{ .Site.BaseURL }}">
                <!--        <img alt="Figurit Homepage" src="{{ .Site.BaseURL }}images/logo-mobile.svg" />-->
            </a>
        </div>
        {{ partial "main-menu.html" . }}
        {{ partial "hamburger.html" . }}
    </div>
</div>