<div id="hero" class="hero-image hero-image-setheight" style="{{ if .link }}cursor: pointer; {{ end }}/*background-image: url('{{ .background | relURL }}')*/" {{ if .link }}onclick='location={{ .link }};'{{ end }}>

        <div class="container">
            <div class="hero-text">
                {{ if .section }}<span class="hero-section">{{ .section }}</span>{{ end }}
                <h1>{{ .heading }}</h1>
                <p>{{ .subheading }}</p>
            </div>
        </div>

</div>
  