<div id="main-menu" class="main-menu">
<!--<div>-->
    <!--      As per https://getbootstrap.com/docs/4.6/components/navs/#using-dropdowns-->
    <!--      <li class="nav-item dropdown">-->
    <!--          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>-->
    <!--          <div class="dropdown-menu">-->
    <!--              <a class="dropdown-item" href="#">Action</a>-->
    <!--              <a class="dropdown-item" href="#">Another action</a>-->
    <!--              <a class="dropdown-item" href="#">Something else here</a>-->
    <!--              <div class="dropdown-divider"></div>-->
    <!--              <a class="dropdown-item" href="#">Separated link</a>-->
    <!--          </div>-->
    <!--      </li>-->
    <ul class="nav nav-pills">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
            <li class="nav-item dropdown menu-item-{{ .Name | lower | anchorize }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ .Pre }}<span>{{ .Name }}</span></a>
      <div class="dropdown-menu">
          <a class="dropdown-item menu-item-{{ .Name | lower | anchorize }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
          {{ range .Children }}
          <a class="dropdown-item menu-sub-item menu-item-{{ .Name | lower | anchorize }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </div>
        </li>
        {{ else }}
        <li class="nav-item">
            <a class="nav-link menu-item-{{ .Name | lower | anchorize }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
        </li>
        {{ end }}
    {{end}}
  </ul>
</div>