{{- if .Site.IsServer -}}
<!-- We don't add Analytics to localhost server -->
{{ else }}
<!-- TZM.community usage tracking -->
<script async defer data-website-id="01eb34a9-3d08-4a34-921d-c8e048af0214" src="https://umami.zeitgeist-info.com/umami.js"></script>
{{ end }}

<script async defer data-website-id="01eb34a9-3d08-4a34-921d-c8e048af0214" src="https://umami.zeitgeist-info.com/umami.js"></script>
<!-- The Bootstrap jQuery code -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>