{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "hero-image-setheight.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}
{{ if .Content }}
<div class="container pt-6 pt-md-10">
    <div class="row">
        <div class="col-12">
            <div class="page-intro">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}


<div class="container pb-6 {{ if .Content }}pt-2{{else}}pt-6 pb-md-10 pt-md-10{{ end }}">
    <div class="row">
        {{ range .Pages.ByWeight }}
        <div class="col-12 col-md-6 mb-2 ">{{ .Render "summary" }}</div>
        {{ end }}
    </div>
</div>
{{ end }}